<h3>Staging Automation System</h3>
<p>A comprehensive software suite with Ansible at its core, designed to drive automation into the staging area. Manages pull requests, executes jobs and greatly reduces the time needed to provision infrastructure by automating MOPs developed by the engineering teams. Reporting and analysis modules also provide clear and detailed feedback both from a QA perspective on successful or failed jobs, to metrics demonstrating costs and savings for each automation run.</p>
<hr>
<h3>Project Condor</h3>
<p>Stealth project involving deploying and provisioning OEM switches with proper images, base configs and business logic.</p>