<div class="row" id="category-row-1">
  <div class="col-md-6">
    <div role="tablist" id="IoT-col">
      <div class="text-center">
        <img class="rounded-circle" src="../assets/category-logos/IoT.png" alt="IoT" width="140" height="140">
      </div>
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0 text-center" id="IoT-title">
            Incident Management System
          </h5>
        </div>
        <div class="card-body" id="IoT-body">
          The IMS is a custom, purpose built solution demonstrating the integration of edge sensors, such a temperature, humidity and vibration with a message broker to distribute that data to analytics platforms of choice.  Those platforms can then make intelligent decisions on how to respond to data anomalies.  GDT has built a monitoring tool that will detect incidents, create a Spark room for critical team members to collaborate, and feed real time information about the incident into the Spark room.  Additionally, the IMS will open a ServiceNow ticket to capture all information that is being generated in the Spark room.  Once the incident is resolved, the Spark room is disbanded and the ServiceNow ticket is closed.
          <hr>
          <a href="https://youtu.be/igC55Pxh0og" class="btn btn-default btn-block" target="_blank">Video Demo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div role="tablist" id="Spark-col">
      <div class="text-center">
        <img class="rounded-circle" src="../assets/category-logos/Spark.png" alt="Spark" width="140" height="140">
      </div>
      <script>
        projects[1].data.forEach((project, index) => {
          $('#Spark-col').append(`
            <div class="card">
              <div class="card-header" role="tab" id="heading-Spark-${index}">
                <h5 class="mb-0 text-center">
                  <a data-toggle="collapse" href="#collapse-Spark-${index}" aria-expanded="false" aria-controls="collapse-Spark-${index}">
                    ${project.title}
                  </a>
                </h5>
              </div>
              <div id="collapse-Spark-${index}" class="collapse" role="tabpanel" aria-labelledby="heading-Spark-${index}" data-parent="#accordion">
                <div class="card-body">
                  ${project.description}
                </div>
              </div>
            </div>
          `)
        })
      </script>
    </div>
  </div>
</div>


<div class="row" id="category-row-2">
  <div class="col-md-6">
    <div role="tablist" id="Ansible-col">
      <div class="text-center">
        <img class="rounded-circle" src="../assets/category-logos/Ansible.png" alt="Ansible" width="140" height="140">
      </div>
      <script>
        projects[3].data.forEach((project, index) => {
          $('#Ansible-col').append(`
            <div class="card">
              <div class="card-header" role="tab" id="heading-Ansible-${index}">
                <h5 class="mb-0 text-center">
                  <a data-toggle="collapse" href="#collapse-Ansible-${index}" aria-expanded="false" aria-controls="collapse-Ansible-${index}">
                    ${project.title}
                  </a>
                </h5>
              </div>
              <div id="collapse-Ansible-${index}" class="collapse" role="tabpanel" aria-labelledby="heading-Ansible-${index}" data-parent="#accordion">
                <div class="card-body">
                  ${project.description}
                </div>
              </div>
            </div>
          `)
        })
      </script>
    </div>
  </div>
  <div class="col-md-6">
    <div role="tablist" id="VRO_VRA-col">
      <div class="text-center">
        <img class="rounded-circle" src="../assets/category-logos/VRO_VRA.png" alt="VRO_VRA" width="140" height="140">
      </div>
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0 text-center" id="VRO_VRA-title">
            Workflow for User On/Off-boarding
          </h5>
        </div>
        <div class="card-body" id="VRO_VRA-body">
          Demonstrates the ability to create new users linked to Microsoft AD and other systems through the use of vRealize Automation self-service portal driving vRealize Orchestration workflows.  The ability to also remove users from all systems via the same methodology closes the loop and provides a complete user management flow.
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" id="category-row-3">
  <div class="col-md-6">
      <div role="tablist" id="Presales-col">
        <div class="text-center">
          <img class="rounded-circle" src="../assets/category-logos/Presales.png" alt="Presales" width="140" height="140">
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h5 class="mb-0 text-center" id="Presales-title">
              Workflow for User On/Off-boarding
            </h5>
          </div>
          <div class="card-body" id="Presales-body">
            Demonstrates the ability to create new users linked to Microsoft AD and other systems through the use of vRealize Automation self-service portal driving vRealize Orchestration workflows.  The ability to also remove users from all systems via the same methodology closes the loop and provides a complete user management flow.
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-6">
    <div role="tablist" id="External-col">
      <div class="text-center">
        <img class="rounded-circle" src="../assets/category-logos/External.png" alt="External" width="140" height="140">
      </div>
      <script>
        projects[5].data.forEach((project, index) => {
          $('#External-col').append(`
            <div class="card">
              <div class="card-header" role="tab" id="heading-External-${index}">
                <h5 class="mb-0 text-center">
                  <a data-toggle="collapse" href="#collapse-External-${index}" aria-expanded="false" aria-controls="collapse-External-${index}">
                    ${project.title}
                  </a>
                </h5>
              </div>
              <div id="collapse-External-${index}" class="collapse" role="tabpanel" aria-labelledby="heading-External-${index}" data-parent="#accordion">
                <div class="card-body">
                  ${project.description}
                </div>
              </div>
            </div>
          `)
        })
      </script>
    </div>
  </div>
</div>