<h3>Spark Haus</h3>
<p>A customer facing event driving the adoption of Cisco Spark. Set in an engineering friendly environment, the Spark Haus event features use cases, demos and the ability to develop your own Spark bots. Funded in part by Cisco, GDT will have two hosted sessions at headquarters to showcase our capabilities and involvement with this platform.</p>
<hr>
<h3>@Mention</h3>
<p>Cisco Spark today does not support a way to notify all members of a Space with a single message. Other chatroom products provide an @channel or @all function to address everyone in the channel. This bot, when mentioned, creates a new message with all room members mentioned for notification and inclusion.</p>
<hr>
<h3>Announcer</h3>
<p>A smart messaging bot for creating announcements in Spark with lots of recipients. Built as a Cisco Spark and AWS Lambda integration, this bot will parse your direct message for recipients in comma-separated or newline-separated format, validate your permissions to broadcast to those users by company and number, and then update you on the progress of your announcement -- all powered in a scalable way in the AWS cloud.</p>
<hr>
<h3>Lunchbot</h3>
<p>Posts a daily lunch spot suggestion, culled from submitted user suggestions. Provides menu links and map directions to the locations.</p>
<hr>
<h3>XKCD</h3>
<p>Posts the popular web comic daily for your entertainment.</p>
<hr>
<h3>APOD</h3>
<p>Provides a daily look at NASAs Astronomy Picture of the Day.